:root {
    --dark-blue: #1F2937;
    --whiteish: #F9FAF8;
    --secondary-text: #e5e7eb;
    --button-color: #3882f6;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: var(--dark-blue);
    justify-content: center;
}

.header-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}

.logo {
    background: transparent;
    width: 80px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

.rectangle {
    width: 400px;
}

.hero {
    display: flex;
    background-color: var(--dark-blue);
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--whiteish);
    margin-bottom: -8px;
}

.hero-left p {
    font-size: 18px;
    color: var(--secondary-text);
}

.hero-left {
    max-width: 400px;
}

button {
    background-color: var(--button-color);
    color: var(--secondary-text);
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-weight: 700;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.information-square {
    height: 160px;
    border-radius: 12px;
    border-color: var(--button-color);
    border-style: solid;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.information-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--dark-blue);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.information-col p {
    font-size: 15px;
    color: var(--dark-blue);
    width: 140px;
}

.quote-container {
    background-color: var(--secondary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.quote-container-2 {
    max-width: 700px;
}

.quote {
    font-size: 28px;
    font-weight: lighter;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
}

.quotee {
    font-weight: bolder;
    font-size: 24px;
    text-align: right;
    margin-right: 80px;
    margin-top: -20px;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cta-banner {
    display: flex;
    height: 120px;
    width: 800px;
    background: var(--button-color);
    border-radius: 12px;
    border-style: none;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-right: 20px;
    margin-left: 20px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding-left: 20px;
}

.cta-text h4{
    color: var(--whiteish);
    padding: 0;
    margin: 0;
    font-size: 20px
}

.cta-text p{
    color: var(--whiteish);
    padding: 0;
    margin: 0;
}

.cta-banner button {
    display: flex;
    color: var(--whiteish);
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.button-container {
    padding-right: 20px;
}

.footer {
    display: flex;
    background-color: var(--dark-blue);
    height: 80px;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: var(--whiteish);
    font-size: 14px;
}
